%div{id: "agency_signup_page_body", class:"signup_page_body"}
	%header{class: "signup_top_header"}
		%h1 Technical Training Intensive
		
	%div{class:"signup_page_body_container"}
		= render 'pages/agency/text_drawing_container'
		= render 'pages/agency/agency_curriculum'
		= render 'pages/agency/status_quo'
		= render 'pages/agency/more_testimonials'
		= render 'pages/agency/signup_call_to_action'