%div{id: "companyhr_signup_page_body", class: "signup_page_body"}

	%header{class: "signup_top_header"}
		%h1 Technical Recruiting 101
		
	%div{class: "signup_page_body_container"}
		= render 'pages/companyhr/text_drawing_container'
		= render 'pages/companyhr/program_curriculum'
		= render 'pages/companyhr/status_quo'
		= render 'pages/companyhr/more_testimonials'
		= render 'pages/companyhr/signup_call_to_action'