%div{class:"row", id: "sub_banner"}
	%div{class: "span2"}
		%div{id:"main_seal"}
			%div{id:"main_seal_title"}
				= link_to "School Of Geekology", root_url
			%div{id:"main_seal_logo"}
				= link_to "GK", root_url

%div{class:"row", id: "vit_banner"}
	%div{class: "span12"}

%div{class: "row",id: "landing_page_above_fold_heading"}
	%div{class: "span12"}
		%header
			%hgroup
				%div
					%h2 Knowing People is an Art, Knowing Tech is a Science
				%div
					%h1 <span>Geekology</span> Is Both
				%div
					%h2 Master Technical Recruiting Without Being a Geek:
	%div{class: "row"}
		%div{class: "span1"}
		%div{class: "span5"}
			%p{class: "btn btn-large"}
				= link_to "Technical Training Itensive: 3 Hour Bootcamp", url_for(:controller => :pages, :action => :program), :class => 'text_button', :id => 'learn_more'
		%div{class: "span5"}
			%p{class: "btn btn-large"}
				= link_to "Technical Recruiting 101: 3 Half-Day Classes", url_for(:controller => :pages, :action => :program), :class => 'text_button', :id => 'learn_more'

%div{class: "row"}
	%div{class: "span12"}
		%div{class:"new_white_box", id:"quote-box"}
			%div{class: "small_logo", id: "quote_shield"}
				&ldquo; &rdquo;
			%div{class: "white_box_words"}
				&ldquo;I was surprised how much better I understand technology [after this class]&rdquo;
				%br/
				\- <em>Melissa Dela Cruz, DoubleDown Interactive</em> 
				%p{class: "btn", id:"quote_learn_more"}
					= link_to "More Testimonials", url_for(:controller => :pages, :action => :program), :class => 'text_button', :id => 'quote_learn_more'
				
								
%div{class: "row new_brown_banner", id: "learn_the_science"}
	%div{class: "span2"}
		=image_tag('VITE-AEREA.png', id: 'learn_science_pic')
	%div{class: "span10"}
		%h1
			Learn the Science of Geeks:
			
%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&Delta;
			%div{class: "white_box_words"}
				Understand the Software Development Cycle
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&Sigma;
			%div{class: "white_box_words"}
				Decode Technical Job Descriptions and Resumes
			
%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&Pi;
			%div{class: "white_box_words"}
				Learn the Tools They Use and the Launguage They Speak
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&Omega;
			%div{class: "white_box_words"}
				Learn How to React to New Technical Terms

%div{class: "row new_brown_banner", id: "learn_the_art"}
	%div{class: "span2"}
		=image_tag('joconde.png', id: 'learn_science_pic')
	%div{class: "span10"}
		%h1
			Learn the Art of <span id="of_geekology">Geekology</span>:
			
%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&alpha;
			%div{class: "white_box_words"}
				Have Intellegent Conversations With Technical People
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&xi;
			%div{class: "white_box_words"}
				Make Smart Candidate Selections and Confident Decisions

%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&delta;
			%div{class: "white_box_words"}
				Identify High Potential Candidates That Might Have Been Missed
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&beta;
			%div{class: "white_box_words"}
				Gain Recognition for Your Talent Acquisition
	
%div{class: "row", id: "below-fold-heading"}
	%div{class: "span12"}
		%header
			%hgroup
				%h1 Technical Knowledge: a core skill for technical recruiting
				%h2 And, it&rsquo;s possible for non-programmers to have this knowledge
		
%div{class: "row", id: "after_conditions"}
	%div{class: "span4"}
		%h3 What can our training do for you?
	%div{class: "span8"}
		%ul
			%li Have Intelligent conversations with technical people
			%li Make smart candiate selections and confident decisions
			%li Identify high potential candidates that might have been missed
			%li Gain recognition for your talent acquisition contribution

%div{class: "row", id: "pain_point_question"}
	%div{class: "span12"}
		%h1 So, why don&rsquo;t most recruiters have enough technical knowledge?

%div{class: "row", id: "landing_call_to_action"}
	%div{class: "span6"}
		%p
			Knowing what technical knowledge is <strong>needed</strong> 
			and <strong>not needed</strong> for
			technical recruiting requires insights and experience from
			someone who is <strong>technical</strong> and
			<strong>understands recruiting</strong>
	%div{class: "span6"}
		%p
			You can learn the geek language in an easy-to-understand manner
		%p{class: "btn large primary"}
			= link_to "Find out how", url_for(:controller => :pages, :action => :program), :id => 'landing_page_cta'