-#%div{class: "container"}
	%div{class: "row",id: "landing_page_above_fold_heading"}
		%div{class: "span12"}
			%header
				%hgroup
					%div
						%h2 Knowing People is an Art, Knowing Tech is a Science
					%div
						%h1 <span>Geekology</span> Is Both
					%div
						%h2 Easy To Understand Training For Technical Recruiting:
		%div{class: "row"}
			%div{class: "span1"}
			%div{class: "span5"}
				%p{class: "btn btn-large"}
					= link_to "Technical Training Itensive: 3 Hour Bootcamp", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'learn_more'
			%div{class: "span5"}
				%p{class: "btn btn-large"}
					= link_to "Technical Recruiting 101: 3 Half-Day Classes", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'learn_more'

%div{class:'vit_stripe'}
	%div{class: "container"}
		%div{class: 'row'}
			%div{class:'span1'}
			%div{class: 'span10'}
				<div id="myCarousel" class="carousel slide">
				<!-- Carousel items -->
				<div class="carousel-inner">
				<div class="active item">
				<div id="transparent_grab">
				%h1 Understanding Geeks Made Simple
				%h2 Geekology: The Easy Way To Learn The Geek Launguage
				%p{class: "btn btn-large"}
					= link_to "For Agency Recruiters", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'learn_more'
				%p{class: "btn btn-large"}
					= link_to "For HR/Recruiting Professionals", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'learn_more'
				</div>
				</div>
				<div class="item">
				<div id="transparent_grab">
				%h1 Understanding Geeks Made Simple
				%h2 Geekology: The Easy Way To Learn The Geek Launguage
				%p{class: "btn btn-large"}
					= link_to "For Agency Recruiters", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'learn_more'
				%p{class: "btn btn-large"}
					= link_to "For HR/Recruiting Professionals", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'learn_more'
				</div>
				</div>
				<div class="item">
				<div id="transparent_grab">
				%h1 Understanding Geeks Made Simple
				%h2 Geekology: The Easy Way To Learn The Geek Launguage
				%p{class: "btn btn-large"}
					= link_to "For Agency Recruiters", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'learn_more'
				%p{class: "btn btn-large"}
					= link_to "For HR/Recruiting Professionals", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'learn_more'
				</div>
				</div>
				</div>
				<!-- Carousel nav -->
				</div>
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>

%section{class:'red_stripe'}				
	%div{class:'container'}
		%div{class: "row main_tan_banner"}
			%div{class: "span12"}
				%h1
					New Technical Recriuting Training Programs
				%h2
					Learn About Technology, Engineering Teams, and Technical Talent In Plain English
					
%div{class: 'container'}
	%div{class: "row"}
		%div{class: 'spacer'}
		%div{class: "span4", id: 'java_step_1_trigger'}
			%div{class:"step_white_box", id: 'java_step_1_div'}
				%div{class: "step_small_logo"}
					1
				%div{class: "white_box_words"}
					%h1 Become Tech<br>Savvy
				%div{class: "triangle_down"}
			%div{class: 'fake_curtain', id: 'java_step_1_curtain'}
			%div{id:'java_step_drop_down_1'}
				%div
					%div{class: 'dropdown_white_box'}
						%h2 *
						%h2 Learn the Software Development Process
						%h2 **
						%h2 Understand Roles On An Engineering Team
						%h2 ***
						%h2 Grasp Programming Languages and Tools
						%br	
		%div{class: "span4", id: 'java_step_2_trigger'}
			%div{class:"step_white_box", id: 'java_step_2_div'}
				%div{class: "step_small_logo"}
					2
				%div{class: "white_box_words"}
					%h1 Learn To Speak<br>Geek
				%div{class: "triangle_down"}
			%div{class: 'fake_curtain', id: 'java_step_2_curtain'}
			%div{id: 'java_step_drop_down_2'}
				%div
					%div{class: 'dropdown_white_box'}
						%h2 *
						%h2 Have Intellegent Conversations With Technical People
						%h2 **
						%h2 Decode Cryptic Jargon and Terminology
						%h2 ***
						%h2 Go Beyond Keyword Matching
						%br	
		%div{class: "span4", id: 'java_step_3_trigger'}
			%div{class:"step_white_box", id: 'java_step_3_div'}
				%div{class: "step_small_logo"}
					3
				%div{class: "white_box_words"}
					%h1 Master Technical Recruiting
				%div{class: "triangle_down"}
			%div{class: 'fake_curtain', id: 'java_step_3_curtain'}
			%div{id: 'java_step_drop_down_3'}
				%div
					%div{class: 'dropdown_white_box'}
						%h2 *
						%h2 Increase Both Quality And Quantity of Candidates
						%h2 **
						%h2 Make Smart and Confident Candidate Selections
						%h2 ***
						%h2 Gain Recognition For Your Acquisition Talent
						%br
%div{class:'brown_stripe'}
	%div{class: "container"}
		%div{class: 'row'}
			%div{class: 'span2'}
				=image_tag('inrixtrans.png')
			%div{class: 'span2'}
				=image_tag('akvelontrans.png')
			%div{class: 'span2'}
				=image_tag('doubledowntrans.png')
			%div{class: 'span2'}
				=image_tag('netmotiontrans.png')
			%div{class: 'span2'}
				=image_tag('wetpainttrans.png')
			%div{class: 'span2'}
				=image_tag('pdstrans.png')
						
%div{class:'brown_stripe'}
	%div{class: "container"}
		%div{class: 'row'}
			%div{class: 'span9'}
				%div{class:'span12 white_heading', id:'people_say'}
					%h2 Trusted By Todays Top Tech Startups
				%div{class: 'span9'}
					<div id="quoteCarousel1" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
					<div class="active item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>I was surprised how much better I understand technology [after this class]&rdquo; 
							%br
							\- <em>Melissa Dela Cruz, DoubleDown Interactive</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>10 out of 10. [This class] made me feel more confident about recruiting and talking to my engineering team.&rdquo; 
							%br
							\- <em>Laura Bott, NetMotion Wireless</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>Great class, very informative. Mei does a good job of explaining technical terms to non-technical foks.&rdquo; 
							%br
							\- <em>Courtney C., Akvelon</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>[Mei is] a great teacher - a lot of patience and [is] very good at explaining things technical to non-technical people.&rdquo; 
							%br
							\- <em>Nicole Siegert, Staffing Consultant, IT Recruiting, PDS Tech, Inc.</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>This [class] has been super helpful for understanding the terminology that I often got lost in.&rdquo; 
							%br
							\- <em>Heather Carpenter, INRIX</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>10 (out of 10). I learned so much! Very beneficial and applicable to my current (recruiting) position.&rdquo; 
							%br
							\- <em>AmandaTurpen, DoubleDown Interactive</em> 
					</div>
					</div>
				</div>
				%div{class: 'span9'}
					<div id="quoteCarousel2" class="carousel slide">
					<!-- Carousel items -->
					<div class="carousel-inner">
					<div class="active item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>I got a lot from [the class] and enjoyed it. It was surprising how much I learned and how much more prepared I feel to source and screen candidates.&rdquo; 
							%br
							\- <em>Abbie Samson, INRIX</em>
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>I liked how you simplified everything and helped us ‘connect the dots.’ [This class was] So helpful! I feel much more knowledgeable.&rdquo; 
							%br
							\- <em>R.C., Wetpaint</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>[Since taking the class,] it's been surprising how much we have started to refer back to this class or use the things that we have learned. This has been super helpful.&rdquo; 
							%br
							\- <em>Heather Carpenter, INRIX</em> 
					</div>
					<div class="item">
					%div{id:"quote-box"}
						%div{class: "white_box_words"}
							<span>&ldquo;</span>The teaching method was very engaging and informative.<br>The class definitely helped me out in understanding the specific technological needs of the clients!&rdquo;
							%br
							\- <em>Eric Melikov, Akvelon</em> 
					</div>
					</div>
					</div>
			%div{class: "span3"}
				=image_tag('woman5.png', id: 'woman')
				
%div{class:'container'}
	%div{class: "row new_tan_banner"}
		%div{class: "span12"}
			%h1
				Geekology is Specifically Designed For Technical Recriuting
			%div{class:'black_line'}
			%h2
				Geekology's Targeted Training Vs. Other Methods
	%div{class:'row'}
		%div{class:'span3'}
			%div{class:'active_new_basic_white_box', id:'java_compare_1'}
				%h2 Programming Classes
				-#=image_tag('point.png', class: 'pointer')
		%div{class:'span3'}
			%div{class:'active_new_basic_white_box', id:'java_compare_2'}
				%h2 Google / Wikipedia
		%div{class:'span3'}
			%div{class:'active_new_basic_white_box', id:'java_compare_3'}
				%h2 Placeholder
				%br
				%br
		%div{class:'span3'}
			%div{class:'active_new_basic_white_box', id:'java_compare_4'}
				%h2 Asking Developer Friends
	%div{class:'row', id:'java_compare_box_1'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Programming Class
			%div{class: 'compare_chart_basic_white_box'}
				%h2 - Time Consuming
				%h2 - Not Directly Applicable To Recriuting
				%h2 - Missing Software Development Experience
				%br
		%div{class:'span2'}
			%h1
				%br
			%div{class: 'triangle_right'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Geekology
			%div{class: 'compare_chart_basic_white_box'}
				%h2 + Fast, Targeted Learning
				%h2 + Teaches Only What You Need To Know
				%h2 + Learn How Software Is Made, Not Just What Makes It
				%br
				
	%div{class:'row', id:'java_compare_box_2'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Google / Wikipedia
			%div{class: 'compare_chart_basic_white_box'}
				%h2 - Explanations in Technical Terms - Hard to Understand
				%h2 - Confusing and Frustrating Instead of Helpful or Practical
				%h2 - Presents New Terminology That Creates More Confusion
				%br
		%div{class:'span2'}
			%h1
				%br
			%div{class: 'triangle_right'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Geekology
			%div{class: 'compare_chart_basic_white_box'}
				%h2 + Explanations in Plain English - Easy To Understand
				%h2 + Helps Turn Google and Wikipedia into Useful Learning Tools
				%h2 + Allows You to be Unafraid of New Technologies
				%br
				
	%div{class:'row', id:'java_compare_box_3'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Guessing
			%div{class: 'compare_chart_basic_white_box'}
				%h2 - UHHHHHHHHHHHHHHHHHH
				%h2 - UHHHHHHHHHHHHHHHHHH
				%h2 - UHHHHHHHHHHHHHHHHHH
				%br
		%div{class:'span2'}
			%h1
				%br
			%div{class: 'triangle_right'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Geekology
			%div{class: 'compare_chart_basic_white_box'}
				%h2 + UHHHHHHHHHHHHHHHHHH
				%h2 + UHHHHHHHHHHHHHHHHHH
				%h2 + UHHHHHHHHHHHHHHHHHH
				%br
	
	%div{class:'row', id:'java_compare_box_4'}
		%div{class: 'span5'}
			%div
				%h1{class: 'basic_black_heading'}
					Asking Developer Friends
				%div{class: 'compare_chart_basic_white_box'}
					%h2 - Provides Unnecessary Detail for Recruiting Purposes
					%h2 - Scattered, Out-Of-Context Information
					%h2 - Unstructured and Unfocused, Without Providing Basic Understanding
					%br
		%div{class:'span2'}
			%h1
				%br
			%div{class: 'triangle_right'}
		%div{class: 'span5'}
			%h1{class: 'basic_black_heading'}
				Geekology
			%div{class: 'compare_chart_basic_white_box'}
				%h2 + Helps You Understand Technology at Just the Right Level
				%h2 + Provides Clear Explanations To See How Pieces Fit Together In The Big Picture
				%h2 + Structured and Focused Curriculum to Build a Strong Foundation
				%br
	%div{class:'spacer'}
		
-#%section{class:"red_stripe"}
	%div{class: "container"}
		%div{class: 'row'}
			%div{class:'span12 white_heading'}
				%h1 What Geekology Alumni Are Saying:	
		%div{class: "row", id: 'java_quote_1'}
			%div{class: "span8"}
				%div{class:"new_white_box", id:"quote-box"}
					%div{class: "small_logo", id: "quote_shield"}
						&ldquo; &rdquo;
					%div{class: "white_box_words"}
						&ldquo;I got a lot from [the class] and enjoyed it. It was surprising how much I learned and how much more prepared I feel to source and screen candidates.&rdquo;
						\- <em>Abbie Samson, INRIX</em> 
		%div{class: "row", id: 'java_quote_2'}
			%div{class: "span8"}
				%div{class:"new_white_box", id:"quote-box"}
					%div{class: "small_logo", id: "quote_shield"}
						&ldquo; &rdquo;
					%div{class: "white_box_words"}
						&ldquo;I liked how you simplified everything and helped us ‘connect the dots.’ [This class was] So helpful! I feel much more knowledgeable.&rdquo; 
						\- <em>R.C., Wetpaint</em> 
		%div{class: "row", id: 'java_quote_3'}
			%div{class: "span8"}
				%div{class:"new_white_box", id:"quote-box"}
					%div{class: "small_logo", id: "quote_shield"}
						&ldquo; &rdquo;
					%div{class: "white_box_words"}
						&ldquo;I was surprised how much better I understand technology [after this class]&rdquo; 
						%br
						\- <em>Melissa Dela Cruz, DoubleDown Interactive</em> 
			%div{class: "span4"}
				=image_tag('woman2.gif', id: 'woman')
		%div{class: "row", id: 'java_quote_4'}
			%div{class: "span8"}
				%div{class:"new_white_box", id:"quote-box"}
					%div{class: "small_logo", id: "quote_shield"}
						&ldquo; &rdquo;
					%div{class: "white_box_words"}
						&ldquo;The teaching method was very engaging and informative. The class definitely helped me out in understanding the specific technological needs of the clients!&rdquo; 
						\- <em>Eric Melikov, Akvelon</em> 
		%div{class: "row", id: 'java_quote_5'}
			%div{class: "span8"}
				%div{class:"new_white_box", id:"quote-box"}
					%div{class: "small_logo", id: "quote_shield"}
						&ldquo; &rdquo;
					%div{class: "white_box_words"}
						&ldquo;10 out of 10. [This class] made me feel more confident about recruiting and talking to my engineering team.&rdquo; 
						\- <em>Laura Bott, NetMotion Wireless</em> 
		
		%div{class:"row"}
			%div{class:"span2", id: 'java_quote_1_div'}
				%div{class:"company_white_box"}
					=image_tag('logo_inrixblack.png', class: 'company_logo', id: 'inrix')
					=image_tag('logo_inrix.png', class: 'company_logo', id: 'inrixcolor')
			%div{class:"span2", id: 'java_quote_2_div'}
				%div{class:"company_white_box"}
					=image_tag('wetpaintlogoblack.gif', class: 'company_logo', id: 'wetpaint')
					=image_tag('wetpaintlogo.gif', class: 'company_logo', id: 'wetpaintcolor')
			%div{class:"span4"}
				%div{class:"company_white_box", id: 'java_quote_3_div'}
					=image_tag('doubledownlogoblack.png', class: 'company_logo', id: 'doubledown')
					=image_tag('doubledownlogo.png', class: 'company_logo', id: 'doubledowncolor')
			%div{class:"span2"}
				%div{class:"company_white_box", id: 'java_quote_4_div'}
					=image_tag('akvelonlogoblack.gif', class: 'company_logo', id:'akvelon')
					=image_tag('akvelonlogo.gif', class: 'company_logo', id:'akveloncolor')
			%div{class:"span2"}
				%div{class:"company_white_box", id: 'java_quote_5_div'}
					=image_tag('netmotionlogoblack.png', class: 'company_logo', id:'netmotion')
					=image_tag('netmotionlogo.png', class: 'company_logo', id:'netmotioncolor')

-#%div{class: "container"}
	%div{class:'spacer'}
		%div{class: "row new_tan_banner", id: "problem_brown_banner"}
			%div{class: "span2"}
				=image_tag('Vitruvian.Gif', id: 'learn_science_pic')
			%div{class: "span8"}
				%h1
					You Need to Recruit	Technical Talent But You're Not a Geek:
				%h2
					Geekology Is Here to Help, and Quick
			%div{class: 'span2'}
		%div{class: "row"}
			%div{class: "span4", id: "java_step_4_trigger"}
				%div{class:"step_white_box", id: 'java_step_4_div'}
					%div{class: "step_small_logo"}
						GK
					%div
						%h2 New technical recruiting training programs, You don’t need to be a geek to master technical recruiting
					%div{class: "triangle_down"}
				%div{class: 'fake_curtain', id: 'java_step_4_curtain'}
				%div{id:'java_step_drop_down_4'}
					%div
						%div{class: 'dropdown_white_box'}
							%br
							Learn from a software programmer turned recruiting expert
							%br
							%br
							Different Class Types
							%br
							%br
							Custom Designed Programs Available
							%br
							%br
							%br
							%br
							%br
							%br
			%div{class: "span4", id: "java_step_5_trigger"}
				%div{class:"step_white_box", id: 'java_step_5_div'}
					%div{class: "step_small_logo"}
						GK
					%div
						%h2 Learn about technology, engineering teams, and technical talent, all in plain English
					%div{class: "triangle_down"}
				%div{class: 'fake_curtain', id: 'java_step_5_curtain'}
				%div{id: 'java_step_drop_down_5'}
					%div
						%div{class: 'dropdown_white_box'}
							%br
							Stop Relying on Wikipedia and Google
							%br
							%br
							Get Definitions From a Recruiters POV
							%br
							%br
							Understand How Software is Made
							%br
							%br
							%br
							%br
							%br
							%br
			%div{class: "span4", id: "java_step_6_trigger"}
				%div{class:"step_white_box", id: 'java_step_6_div'}
					%div{class: "step_small_logo"}
						GK
					%div
						%h2 Small class sizes: online or in-person, get all your questions answered personally by an expert
					%div{class: "triangle_down"}
				%div{class: 'fake_curtain', id: 'java_step_6_curtain'}
				%div{id: 'java_step_drop_down_6'}
					%div
						%div{class: 'dropdown_white_box'}
							%br
							Presentation and Interactive Workshops
							%br
							%br
							Use Real Job Descriptions and Resumes From Your Company
							%br
							%br
							Get All Your Questions Answered On The Spot
							%br
							%br
							%br
							%br
							%br
							%br
							
%section{class:'red_stripe'}
	%div{class: "container"}
		%div{class: "row main_tan_banner"}
			%div{class: "span12"}
				%h2 Stop Relying on Google and Wikipedia! Learn Technical Recriuting From The Inside Out and Stop Guessing
				
%div{class: "container"}
	%div{class: "row new_tan_banner", id: "what_makes_different"}
		%span{id: "what_makes_different_link"}
		%div{class: "span12"}
			%h1
				What Makes <span>Geekology</span> Different:
			%div{class:'black_line'}
			%h2
				We are the Only Program That Teaches You the Technology Behind Technical Recruiting
	%div{class: "row"}
		%div{class: "span4", id: "java_step_7_trigger"}
			%div{class:"step_white_box", id: 'java_step_7_div'}
				%div{class: "step_small_logo"}
					GK
				%div
					%h1 We Put The "Technical" In Technical<br>Recriuting
				%div{class: "triangle_down"}
			%div{class: 'fake_curtain', id: 'java_step_7_curtain'}	
			%div{id:'java_step_drop_down_7'}
				%div
					%div{class: 'dropdown_white_box'}
						%h2 *
						%h2 Build A Foundation Of Core Technical Knowledge
						%h2 **
						%h2 Have True Understanding Of Software Engineering
						%h2 ***
						%h2 Decode Technical Terms, and Ask Revealing Questions
						%br	
		%div{class: "span4", id: "java_step_8_trigger"}
			%div{class:"step_white_box", id: 'java_step_8_div'}
				%div{class: "step_small_logo"}
					GK
				%div
					%h1 We Combine Software Experience and Recruiting Expertise
				%div{class: "triangle_down"}
			%div{class: 'fake_curtain', id: 'java_step_8_curtain'}	
			%div{id: 'java_step_drop_down_8'}
				%div
					%div{class: 'dropdown_white_box'}
						%h2 *
						%h2 Make Smart Recruiting Decisions using Technical Knowledge
						%h2 **
						%h2 Know How To Think Like A Hiring Manager
						%h2 ***
						%h2 Have Effective Conversations with Developers with Confidence
						%br
		%div{class: "span4", id: "java_step_9_trigger"}
			%div{class:"step_white_box", id: 'java_step_9_div'}
				%div{class: "step_small_logo"}
					GK
				%div
					%h1 We Know What<br>is and isn't<br>Needed For Tech Recruiting
				%div{class: "triangle_down"}
			%div{class: 'fake_curtain', id: 'java_step_9_curtain'}	
			%div{id: 'java_step_drop_down_9'}
				%div
					%div{class: 'dropdown_white_box'}
						%h2 *
						%h2 Cut Through the Tech Talk That Geeks Use by Getting the Gist of Discussions
						%h2 **
						%h2 Learning Computer Science is a massive undertaking you don’t have time for
						%h2 ***
						%h2 ...and Code Writing Skills are Unnecessary For Recruiting
	%div{class:'spacer'}
%section{class:"red_stripe"}
	%div{class: "container"}
		%div{class:'row'}
			%div{class:'span12 white_heading'}
				%h1 
					Meet The Instructor
		%div{class:'row'}
			%div{class: 'span3'}
				%div{class: 'new_basic_white_box'}
					%h2
						Mei Lu
						= link_to image_tag('linkedin_logo.png'), "http://www.linkedin.com/in/meiiam/"
					=image_tag('mei_lu.jpeg', id: 'mei_pic')
					%br
					%br
			%div{class: 'span9'}
				%div{id:'full_bio'}
					Mei Lu is the Founder and CEO of Jobfully.com, a web start-up focusing on technology job market.  Before starting Jobfully, Mei recruited top talent for Silicon Valley technology companies, including OpenTable, OutSpark, RockYou and TubeMogul.
					%div{class:'white_line'}
					Mei started her career as a software engineer, building software at Qpass, M.I.T, and MicroStrategy.  She received her Master's Degree in Computer Science from University of Pennsylvania and her Master's Degree in Engineering from Carnegie Mellon University.
			
				
%div{class:'college_stripe'}
	%div{class: "container"}
		%div{class:'spacer'}
		%div{class: "row new_tan_heading", id: "choose_your_house"}
			%span{id: "choose_your_house_link"}
			%div{class: "span2"}
			%div{class: "span8"}
				%h1
					Choose Your Path:
			%div{class: "span2"}
		%div{class: "row"}
			%div{class: "span4"}
				%div{class: "house_white_box", id: 'java_vitruvian_box'}
					=image_tag('uw_library1.jpg')
					%div{class:"house_seal"}
						=image_tag('Vitruvian.Gif', id: 'learn_science_pic_2')
						%h2
							Company HR/<br>Recriuting
						%p{class: "btn", id:"quote_learn_more"}
							= link_to "Learn More", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'quote_learn_more'
			%div{class: "span4"}
				%div{class: "house_white_box", id: 'java_renaissance_box'}
					=image_tag('uw_library1.jpg')
					%div{class:"house_seal"}
						=image_tag('VITE-AEREA.png', id: 'learn_science_pic_2')
						%h2
							Agency<br>Recriuters
						%p{class: "btn", id:"quote_learn_more"}
							= link_to "Learn More", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'quote_learn_more'
			%div{class: "span4"}
				%div{class: "house_white_box", id: 'java_davinci_box'}
					=image_tag('uw_library1.jpg')
					%div{class:"house_seal"}
						=image_tag('joconde.png', id: 'learn_science_pic_2')
						%h2
							Corporate Recruiting Teams 
						%p{class: "btn text_button", id:"quote_learn_more"}
							Call Us
					
		%div{class:"row", id:"java_renaissance_description"}
			%div{class:"span12 description_white_box"}
				%div
					%h1
						Technical Training Intensive: 3 Hour Bootcamp
					%h4
						For Agency recruiters who want to differentiate themselves and stay ahead of the crowd
					%br
					%ul
						%li
							Maintain better client communication because you ”get it“ when you have an overall understanding of how software is made
						%br
						%li
							Make confident candidate selections because you develop insights when you know how different roles function and interact
						%br
						%li
							Build stronger relationships with tech community because you speak their language intelligently when you truly understand the tools of their trade
					%p{class: "btn btn-large", id:"quote_learn_more"}
						= link_to "View Details, Times and Sign Up", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'quote_learn_more'
					<br></br>
			
		%div{class:"row", id:"java_vitruvian_description"}
			%div{class:"span12 description_white_box"}
				%div
					%h1
						Technical Recruiting 101: 3 Half-Day Classes
					%div{class:'row', id: 'cert_explain'}
						%div{class: "span2"}
							= image_tag('hrci_preapproval_seal.png', :alt => "hrci_preapproved", :id => 'hrci_preapproved')
						%div{class: "span8"}
							%div{id:'cert_blurb'}
								This program has been approved for <strong>7.5 (General)
								recertification credit hours toward PHR, SPHR and GPHR
								recertification </strong> through the HR Certification
					%h4
						For Company HR/recruiting professionals who need to fill technical positions
					%br
					%ul
						%li
							Become a partner of engineering because you play a key role in talent strategy when you understand how your engineering team works and its talent needs
						%br
						%li
							Help hiring managers because you reduce their recruiting work load when you learn and apply their candidate selection principles
						%br
						%li
							Create business impact because you scout the right talent to drive company growth when you know how to spot and find top technical candidates
					%p{class: "btn btn-large", id:"quote_learn_more"}
						= link_to "View Details, Times and Sign Up", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'quote_learn_more'
					<br></br>		
			
		%div{class:"row", id:"java_davinci_description"}
			%div{class:"span12 description_white_box"}
				%div
					%h1
						Technical Recruiting Premium: Custom Designed Programs
					%h4
						For Corporate recruiting teams that need customized training solutions
					%br
					%ul
						%li
							Customized solutions to increase technical recruiting competency level based on your team’s unique needs and job market situation
						%br
						%li
							Empower your recruiting team to drive critical business results by meeting talent growth targets
						%br
						%li
						Hard skill development for recruiting staff pays off in the form of better talent acquisition results, recruiter performance and retention
					%p{class: "btn btn-large", id:"quote_learn_more"}
						Call us at 425-247-0999
					<br></br>
		%div{class:'spacer'}
%div{class: 'brown_stripe'}
	%div{class: "container"}
		%div{class: "row new_brown_banner"}
			%div{class: "span2"}
				%div{id:"three_house"}
					%div{id:"three_shield"}
						?
			%div{class: "span8"}
				%h1
					FAQ:
			%div{class: "span2"}

		%section{class:'test'}
			%div{class:"row"}
				%div{class:"span12"}
					%div{class: "basic_white_box", id: "faq_box"}
						%h1 What is a Geek?
						%h2 /gēk/ - A person with an eccentric devotion to scientific or technical pursuits
						%br
						%h1 Do you need to be a geek to master technical recruiting?
						%h2 No, Geekology's goal is to make understanidng geeks simple
						%br
						%h1 What exactly is Geekology?
						%h2 New technical recruiting training programs that give you everything you need to know about technology, engineering teams, and technical talent in plain English
						%br
						%h1 How important is technical knowledge?
						%h2 Very, it's a core skill for technical recruiting but it’s possible for non-programmers to have this knowledge
						%br
						%h1 What can your training do for me?
						%h2
							You can achive these results:
							%ul
								%li Have Intelligent conversations with technical people
								%li Make smart candiate selections and confident decisions
								%li Identify high potential candidates that might have been missed
								%li Gain recognition for your talent acquisition contribution
						%br
						%h1 Why don’t most recruiters have enough technical knowledge?
						%h2 Knowing what technical knowledge is needed and not needed for technical recruiting requires insights and experience from someone who is technical and understands recruiting
						%br
						%h1 I'm doing alright with Technical Recruiting, Why should I take this class now?
						%h2
							%ul
								%li Change from passive and reactive to proactive recruiting
								%li Become a true partner of your engineering organization
								%li Go beyond keyword matching
								%li Increase both quality and quantity of candidates
								%li Your developer friends aren’t always good at teaching and explaining
								%li You can’t really learn technology from Google or Wikipedia
						%br
						%h1 Why DaVinci?
						%h2 He was a master of both art and science, much like the best technical recruiters
						%br
			
%div{class: 'red_stripe'}
	%div{class: "container"}
		%div{class: "row new_brown_banner", id: "contact"}
			%span{id:'contact_link'}
			%div{class: "span2"}
				%div{id:"three_house"}
					%div{id:"three_shield"}
						?
			%div{class: "span8"}
				%h1
					Contact:
			%div{class: "span2"}
	
		%div{class:"row"}
			%div{class:"span12"}
				%div{class: "basic_white_box", id: "faq_box"}
					%h1 Questions and Support
					%h2 Email is a great to get in touch. Drop us a line at geekology@jobfully.com
					%h2 You can also reach us at 425.247.0999
					%br
					%h1 Mailing Address
					%h2 Snail mail is so quaint. Send us something at:
					%h2 Geekology (a Jobfully company)<br>15127 NE 24th St., #575<br>Redmond, Wa 98052
					%br
					%h1 Media Inquiries
					%h2 We'd be glad to provide expert insights into all aspect of technical recruiting, including:
					%h2
						%ul
							%li Sourcing technical roles
							%li Attracting technical talent
							%li Career development for software professionals
							%li Candidate experience
							%li Compensation package for geeks
							%li and more...
					%br
					%h2
						=render 'pages/contact/mailchimp_form'

			