%div{class: "row",id: "landing_page_above_fold_heading"}
	%div{class: "span12"}
		%header
			%hgroup
				%div
					%h2 Knowing People is an Art, Knowing Tech is a Science
				%div
					%h1 <span>Geekology</span> Is Both
				%div
					%h2 Easy To Understand Training For Technical Recruiting:
	%div{class: "row"}
		%div{class: "span1"}
		%div{class: "span5"}
			%p{class: "btn btn-large"}
				= link_to "Technical Training Itensive: 3 Hour Bootcamp", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'learn_more'
		%div{class: "span5"}
			%p{class: "btn btn-large"}
				= link_to "Technical Recruiting 101: 3 Half-Day Classes", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'learn_more'

%div{class: "row"}
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_1_div'}
			%div{class: "step_small_logo"}
				&Alpha;
			%div{class: "white_box_words"}
				%h1 Learn The Science Of Geeks
			%div{class: "triangle_down"}
		%div{id:'java_step_drop_down_1'}
			%div
				%div{class: 'dropdown_white_box'}
					Understand the Software Development Cycle
					%br
					%br
					Decode Technical Job Descriptions and Resumes
					%br
					%br
					Learn the Tools They Use and the Launguage They Speak
					%br
					%br
					Learn How to React to New Technical	 Terms	
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_2_div'}
			%div{class: "step_small_logo"}
				&Sigma;
			%div{class: "white_box_words"}
				%h1 Learn The Art Of Technical Recruiting
			%div{class: "triangle_down"}	
		%div{id: 'java_step_drop_down_2'}
			%div
				%div{class: 'dropdown_white_box'}
					Have Intellegent Conversations With Technical People
					%br
					%br
					Make Smart Candidate Selections and Confident Decisions
					%br
					%br
					Identify High Potential Candidates That Might Have Been Missed
					%br
					%br
					Gain Recognition for Your Talent Acquisition
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_3_div'}
			%div{class: "step_small_logo"}
				&Omega;
			%div{class: "white_box_words"}
				%h1 Master Technical Recruiting
			%div{class: "triangle_down"}
		%div{id: 'java_step_drop_down_3'}
			%div
				%div{class: 'dropdown_white_box'}
					Change from passive and reactive to proactive recruiting
					%br
					%br
					Become a true partner of your engineering organization
					%br
					%br
					Go beyond keyword matching
					%br
					%br
					Increase both quality and quantity of candidates
	
%div{class: "row", id: 'java_quote_1'}
	%div{class: "span12"}
		%div{class:"new_white_box", id:"quote-box"}
			%div{class: "small_logo", id: "quote_shield"}
				&ldquo; &rdquo;
			%div{class: "white_box_words"}
				&ldquo;I got a lot from [the class] and enjoyed it. It was surprising how much I learned and how much more prepared I feel to source and screen candidates.&rdquo;
				\- <em>Abbie Samson, INRIX</em> 
			
%div{class: "row", id: 'java_quote_2'}
	%div{class: "span12"}
		%div{class:"new_white_box", id:"quote-box"}
			%div{class: "small_logo", id: "quote_shield"}
				&ldquo; &rdquo;
			%div{class: "white_box_words"}
				&ldquo;I was surprised how much better I understand technology [after this class]&rdquo; 
				%br
				\- <em>Melissa Dela Cruz, DoubleDown Interactive</em> 
			
%div{class: "row", id: 'java_quote_3'}
	%div{class: "span12"}
		%div{class:"new_white_box", id:"quote-box"}
			%div{class: "small_logo", id: "quote_shield"}
				&ldquo; &rdquo;
			%div{class: "white_box_words"}
				&ldquo;10 out of 10. [This class] made me feel more confident about recruiting and talking to my engineering team.&rdquo; 
				\- <em>Laura Bott, NetMotion Wireless</em> 
				
%div{class:"row"}
	%div{class:"span4", id: 'java_quote_1_div'}
		%div{class:"company_white_box"}
			%div{class: "triangle_up"}
			=image_tag('logo_inrixblack.png', class: 'company_logo', id: 'inrix')
	%div{class:"span4"}
		%div{class:"company_white_box", id: 'java_quote_2_div'}
			%div{class: "triangle_up"}
			=image_tag('doubledownlogoblack.png', class: 'company_logo', id: 'doubledown')
	%div{class:"span4"}
		%div{class:"company_white_box", id: 'java_quote_3_div'}
			%div{class: "triangle_up"}
			=image_tag('netmotionlogoblack.png', class: 'company_logo', id:'netmotion')

%div{class: "row new_brown_banner", id: "problem_brown_banner"}
	%div{class: "span2"}
		=image_tag('Vitruvian.Gif', id: 'learn_science_pic')
	%div{class: "span8"}
		%h1
			You Need to Recruit	Technical Talent But You're Not a Geek:
		%h2
			Geekology Is Here to Help, and Quick
	%div{class: 'span2'}

%div{class: "row"}
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_4_div'}
			%div{class: "step_small_logo"}
				&delta;
			%div
				%h2 New technical recruiting training programs, You don’t need to be a geek to master technical recruiting
			%div{class: "triangle_down"}
		%div{id:'java_step_drop_down_4'}
			%div
				%div{class: 'dropdown_white_box'}
					Learn from a software programmer turned recruiting expert
					%br
					%br
					Different Class Types
					%br
					%br
					Custom Designed Programs Available
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_5_div'}
			%div{class: "step_small_logo"}
				&epsilon;
			%div
				%h2 Learn about technology, engineering teams, and technical talent, all in plain English
			%div{class: "triangle_down"}
		%div{id: 'java_step_drop_down_5'}
			%div
				%div{class: 'dropdown_white_box'}
					Stop Relying on Wikipedia and Google
					%br
					%br
					Get Definitions From a Recruiters POV
					%br
					%br
					Understand How Software is Made
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_6_div'}
			%div{class: "step_small_logo"}
				&zeta;
			%div
				%h2 Small class sizes: online or in-person, get all your questions answered personally by an expert
			%div{class: "triangle_down"}
		%div{id: 'java_step_drop_down_6'}
			%div
				%div{class: 'dropdown_white_box'}
					Presentation and Interactive Workshops
					%br
					%br
					Use Real Job Descriptions and Resumes From Your Company
					%br
					%br
					Get All Your Questions Answered On The Spot
					
%div{class: "row"}
	%div{class: "span12"}
		%div{class:"new_white_box", id:"quote-box"}
			%div{class: "small_logo", id: 'exclamation'}
				%div
					!
			%div{class: "white_box_words"}
				Stop Relying on Google and Wikipedia! Learn Technical Recriuting From The Inside Out and Stop Guessing
					
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&delta;
			%div{class: "white_box_words"}
				New technical recruiting training programs
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&epsilon;
			%div{class: "white_box_words"}
				Presentations and interactive workshops
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&zeta;
			%div{class: "white_box_words"}
				Learn about technology, engineering teams, and technical talent
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&eta;
			%div{class: "white_box_words"}
				Small Class Sizes, In Person Or Online
				
%div{class: "row new_brown_banner", id: "what_makes_different"}
	%div{class: "span2"}
		=image_tag('Vitruvian.Gif', id: 'learn_science_pic')
	%div{class: "span8"}
		%h1
			What Makes <span>Geekology</span> Different:
			
%div{class: "row"}
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_7_div'}
			%div{class: "step_small_logo"}
				&theta;
			%div
				%h2 Designed for recruiting technical talent, by a Technical Recruiter
			%div{class: "triangle_down"}
		%div{id:'java_step_drop_down_7'}
			%div
				%div{class: 'dropdown_white_box'}
					Learn From Someone Whos Been There....and There
					%br
					%br
					No Technical Colleagues Confusing You With Their Jargon
					%br
					%br
					Go Beyond Keyword Matching
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_8_div'}
			%div{class: "step_small_logo"}
				&lambda;
			%div
				%h2 Everything is easy-to-understand, Learn only what’s necessary
			%div{class: "triangle_down"}	
		%div{id: 'java_step_drop_down_8'}
			%div
				%div{class: 'dropdown_white_box'}
					Build A Foundation of Core Technical Knolwedge
					%br
					%br
					Cut Through the Tech Talk That Geeks Use to...
					%br
					%br
					Decode Technical Terms, and Ask Revealing Questions
	%div{class: "span4"}
		%div{class:"step_white_box", id: 'java_step_9_div'}
			%div{class: "step_small_logo"}
				&mu;
			%div
				%h2 Combination of software knowledge and recruiting expertise
			%div{class: "triangle_down"}
		%div{id: 'java_step_drop_down_9'}
			%div
				%div{class: 'dropdown_white_box'}
					Find Resources and Best Practices For Technical Recruiting
					%br
					%br
					Designed For Technical Recruiting Professionals Who Don’t Have Extensive Technical Background

-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&theta;
			%div{class: "white_box_words"}
				Specifically Designed For Recruiting Technical Talent
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&iota;
			%div{class: "white_box_words"}
				Combination of Software Knowledge and Recruiting Expertise
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&kappa;
			%div{class: "white_box_words"}
				Learn Only What's Necessary
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&lambda;
			%div{class: "white_box_words"}
				Everything is Easy to Understand

%div{class:'row'}
	%div{class: 'span4'}
		%div{class: "basic_white_box"}
			Mei started her career as a software engineer, building software at Qpass, M.I.T, and MicroStrategy.She received her Master’s Degree in Computer Science from University of Pennsylvania and her Master’s Degree in Engineering from Carnegie Mellon University.
	%div{class: 'span4'}
		%div{class: 'new_basic_white_box'}
			%h2
				Meet The Instructor
			=image_tag('mei_lu.jpeg', id: 'mei_pic')
			%h2 
				Mei Lu
				= link_to image_tag('linkedin_logo.png'), "http://www.linkedin.com/in/meiiam/"
	%div{class: 'span4'}
		%div{class: "basic_white_box"}
			Mei Lu is the Founder and CEO of Jobfully.com, an online software start-up focusing on technology job market. Before starting Jobfully, Mei recruited top talent for Silicon Valley technology companies, including OpenTable, OutSpark, RockYou and TubeMogul.
				
%div{class: "row new_brown_banner", id: "choose_your_house"}
	%div{class: "span2"}
		%div{id:"three_house"}
			%div{id:"three_shield"}
				GK
	%div{class: "span8"}
		%h1
			Choose Your House:
	%div{class: "span2"}
				
%div{class: "row"}
	%div{class: "span4"}
		%div{class: "house_white_box"}
			%div{class:"house_seal"}
				%h1
					Renaissance
				=image_tag('VITE-AEREA.png', id: 'learn_science_pic')
				%h2
					Technical Training Intensive
				%p
					3 Hour Bootcamp
				%br/
				%p{class: "btn", id:"quote_learn_more"}
					%a{id:"java_renaissance_button"}
						Showing
				%br/
				%p{class: "btn", id:"quote_learn_more"}
					= link_to "Learn More", url_for(:controller => :pages, :action => :agency), :class => 'text_button', :id => 'quote_learn_more'
	%div{class: "span4"}
		%div{class: "house_white_box"}
			%div{class:"house_seal"}
				%h1
					Vitruvian
				=image_tag('Vitruvian.Gif', id: 'learn_science_pic')
				%h2
					Technical Recruiting 101
				%p
					3 Half-Day Classes
				%br/
				%p{class: "btn", id:"quote_learn_more"}
					%a{id:"java_vitruvian_button"}
						Show Overview
				%br/
				%p{class: "btn", id:"quote_learn_more"}
					= link_to "Learn More", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'quote_learn_more'
	%div{class: "span4"}
		%div{class: "house_white_box"}
			%div{class:"house_seal"}
				%h1
					DaVinci
				=image_tag('joconde.png', id: 'learn_science_pic')
				%h2
					Technical Training Premium
				%p
					Custom Designed Programs
				%br/
				%p{class: "btn", id:"quote_learn_more"}
					%a{id:"java_davinci_button"}
						Show Overview
				%br/
				%p{class: "btn text_button", id:"quote_learn_more"}
					Call Us
					
%div{class:"row", id:"java_renaissance_description"}
	%div{class:"span12 description_white_box"}
		%div
			%h1
				Renaissance
			%h2
				Technical Training Intensive: 3 Hour Bootcamp
			%h4
				For Agency recruiters who want to differentiate themselves and stay ahead of the crowd
			%br
			%ul
				%li
					Maintain better client communication because you ”get it“ when you have an overall understanding of how software is made
				%br
				%li
					Make confident candidate selections because you develop insights when you know how different roles function and interact
				%br
				%li
					Build stronger relationships with tech community because you speak their language intelligently when you truly understand the tools of their trade
			%p{class: "btn btn-large", id:"quote_learn_more"}
				= link_to "View Details, Times and Sign Up", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'quote_learn_more'
			<br></br>
			
%div{class:"row", id:"java_vitruvian_description"}
	%div{class:"span12 description_white_box"}
		%div
			%h1
				Vitruvian
			%h2
				Technical Recruiting 101: 3 Half-Day Classes
			%h4
				For Company HR/recruiting professionals who need to fill technical positions
			%br
			%ul
				%li
					Become a partner of engineering because you play a key role in talent strategy when you understand how your engineering team works and its talent needs
				%br
				%li
					Help hiring managers because you reduce their recruiting work load when you learn and apply their candidate selection principles
				%br
				%li
					Create business impact because you scout the right talent to drive company growth when you know how to spot and find top technical candidates
			%p{class: "btn btn-large", id:"quote_learn_more"}
				= link_to "View Details, Times and Sign Up", url_for(:controller => :pages, :action => :companyhr), :class => 'text_button', :id => 'quote_learn_more'
			<br></br>		
			
%div{class:"row", id:"java_davinci_description"}
	%div{class:"span12 description_white_box"}
		%div
			%h1
				DaVinici
			%h2
				Technical Recruiting Premium: Custom Designed Programs
			%h4
				For Corporate recruiting teams that need customized training solutions
			%br
			%ul
				%li
					Customized solutions to increase technical recruiting competency level based on your team’s unique needs and job market situation
				%br
				%li
					Empower your recruiting team to drive critical business results by meeting talent growth targets
				%br
				%li
				Hard skill development for recruiting staff pays off in the form of better talent acquisition results, recruiter performance and retention
			%p{class: "btn btn-large", id:"quote_learn_more"}
				Call us at 425-247-0999
			<br></br>
			
-#%div{class: "row new_brown_banner", id: "learn_the_science"}
	%div{class: "span2"}
		=image_tag('VITE-AEREA.png', id: 'learn_science_pic')
	%div{class: "span8"}
		%h1
			Learn the Science of Geeks:
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&mu;
			%div{class: "white_box_words"}
				Understand the Software Development Cycle
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&nu;
			%div{class: "white_box_words"}
				Decode Technical Job Descriptions and Resumes
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&xi;
			%div{class: "white_box_words"}
				Learn the Tools They Use and the Launguage They Speak
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&pi;
			%div{class: "white_box_words"}
				Learn How to React to New Technical Terms

-#%div{class: "row new_brown_banner", id: "learn_the_art"}
	%div{class: "span2"}
		=image_tag('joconde.png', id: 'learn_science_pic')
	%div{class: "span8"}
		%h1
			Learn the Art of <span id="of_geekology">Geekology</span>:
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&rho;
			%div{class: "white_box_words"}
				Have Intellegent Conversations With Technical People
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&phi;
			%div{class: "white_box_words"}
				Make Smart Candidate Selections and Confident Decisions
-#%div{class: "row"}
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&psi;
			%div{class: "white_box_words"}
				Identify High Potential Candidates That Might Have Been Missed
	%div{class: "span6"}
		%div{class:"new_white_box"}
			%div{class: "small_logo"}
				&omega;
			%div{class: "white_box_words"}
				Gain Recognition for Your Talent Acquisition
			
%div{class: "row new_brown_banner"}
	%div{class: "span2"}
		%div{id:"three_house"}
			%div{id:"three_shield"}
				?
	%div{class: "span8"}
		%h1
			FAQ:
	%div{class: "span2"}

%div{class:"row"}
	%div{class:"span12"}
		%div{class: "basic_white_box", id: "faq_box"}
			%h1 What is a Geek?
			%h2 /gēk/ - A person with an eccentric devotion to scientific or technical pursuits
			%br
			%h1 Do you need to be a geek to master technical recruiting?
			%h2 No, Geekology's goal is to make understanidng geeks simple
			%br
			%h1 What exactly is Geekology?
			%h2 New technical recruiting training programs that give you everything you need to know about technology, engineering teams, and technical talent in plain English
			%br
			%h1 How important is technical knowledge?
			%h2 Very, it's a core skill for technical recruiting but it’s possible for non-programmers to have this knowledge
			%br
			%h1 What can your training do for me?
			%h2
				You can achive these results:
				%ul
					%li Have Intelligent conversations with technical people
					%li Make smart candiate selections and confident decisions
					%li Identify high potential candidates that might have been missed
					%li Gain recognition for your talent acquisition contribution
			%br
			%h1 Why don’t most recruiters have enough technical knowledge?
			%h2 Knowing what technical knowledge is needed and not needed for technical recruiting requires insights and experience from someone who is technical and understands recruiting
			%br
			%h1 I'm doing alright with Technical Recruiting, Why should I take this class now?
			%h2
				%ul
					%li Change from passive and reactive to proactive recruiting
					%li Become a true partner of your engineering organization
					%li Go beyond keyword matching
					%li Increase both quality and quantity of candidates
					%li Your developer friends aren’t always good at teaching and explaining
					%li You can’t really learn technology from Google or Wikipedia
			%br
			%h1 Why DaVinci?
			%h2 He was a master of both art and science, much like the best technical recruiters
			%br
			
%div{class: "row new_brown_banner"}
	%div{class: "span2"}
		%div{id:"three_house"}
			%div{id:"three_shield"}
				?
	%div{class: "span8"}
		%h1
			Contact:
	%div{class: "span2"}
	
%div{class:"row", id: "contact_link"}
	%div{class:"span12"}
		%div{class: "basic_white_box", id: "faq_box"}
			%h1 Questions and Support
			%h2 Email is a great to get in touch. Drop us a line at geekology@jobfully.com
			%h2 You can also reach us at 425.247.0999
			%br
			%h1 Mailing Address
			%h2 Snail mail is so quaint. Send us something at:
			%h2 Geekology (a Jobfully company)<br>15127 NE 24th St., #575<br>Redmond, Wa 98052
			%br
			%h1 Media Inquiries
			%h2 We'd be glad to provide expert insights into all aspect of technical recruiting, including:
			%h2
				%ul
					%li Sourcing technical roles
					%li Attracting technical talent
					%li Career development for software professionals
					%li Candidate experience
					%li Compensation package for geeks
					%li and more...
			%br
			%h2
				=render 'pages/contact/mailchimp_form'

			