%div{id: "program_page_body"}
	%div{id: "program_page_above_fold"}
		= render 'pages/program/above_fold'
	
	%div{id: "program_page_below_fold"}
		= render 'pages/program/below_fold_header'
		
		%section{id: "program_page_below_fold_body"}
			%div{id: "below_fold_container"}
				= render 'pages/program/hr_program'
				= render 'pages/program/agency_program'
				= render 'pages/program/bigco_program'
				
	%div{id: "program_page_bio"}
		= render 'pages/program/bio_container'